.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  margin-bottom: 8rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.submitForm input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
}

.submitForm input:focus {
  border: 1px solid grey;
}

.submitForm input::placeholder {
  color: rgb(201, 201, 201);
  padding: 8px;
  font-size: 14px;
}
.submitForm button {
  padding: 5px;
  margin-left: 1rem;
  height: 40px;
  width: 90px;
  background-color: #624de3;
  color: white;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(98, 77, 227, 0.3);
}
.shortUrl {
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 6px 8px rgba(186, 177, 245, 0.3);
  padding: 0px 20px;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.shortUrl i {
  cursor: pointer;
}
.shortUrlContainer {
  margin-top: 2rem;
}

.shortMsg {
  font-size: 14px;
  color: rgb(179, 179, 179);
  margin-bottom: -5px;
}

.shortMsgForm {
  font-size: 14px;
  color: rgb(179, 179, 179);
  margin-bottom: 1rem;
}

.finalLinkDiv {
  background-color: #624de3;
  color: white;
  box-shadow: 0px 6px 8px rgba(186, 177, 245, 0.3);
  padding: 10px 20px;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
.finalLinkDiv a {
  display: flex;
  justify-content: space-between;
}
.finalLinkDiv .fi {
  margin-top: 1px;
}
