.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.logo {
  color: #624de3;
  font-weight: 600;
  margin-left: 8px;
  cursor: pointer;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.submitForm input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
}

.submitForm input:focus {
  border: 1px solid grey;
}

.submitForm input::placeholder {
  color: rgb(201, 201, 201);
  padding: 8px;
  font-size: 14px;
}
.submitForm button {
  padding: 5px;
  margin-left: 1rem;
  height: 40px;
  width: 90px;
  background-color: #624de3;
  color: white;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(98, 77, 227, 0.3);
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.submitForm button:hover,
.submitForm button:focus,
.submitForm button:active {
  transform: translateY(-2px);
}
.shortUrl {
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 6px 8px rgba(186, 177, 245, 0.3);
  padding: 0px 20px;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.shortUrl i {
  cursor: pointer;
}
.shortUrlContainer {
  margin-top: 2rem;
}

.shortMsg {
  font-size: 14px;
  color: rgb(179, 179, 179);
  margin-bottom: -5px;
}

.shortMsgForm {
  font-size: 14px;
  color: rgb(179, 179, 179);
  margin-bottom: 1rem;
}

.finalLinkDiv {
  background-color: #624de3;
  color: white;
  box-shadow: 0px 6px 8px rgba(186, 177, 245, 0.3);
  padding: 10px 20px;
  border-radius: 6px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
.finalLinkDiv a {
  display: flex;
  justify-content: space-between;
}
.finalLinkDiv .fi {
  margin-top: 1px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .submitForm button {
    padding: 5px;
    height: 40px;
    width: 90px;
    background-color: #624de3;
    color: white;
    border: none;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 6px 12px rgba(98, 77, 227, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2px;
  }
}
